<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Jeu du Mastermind - Version Humain</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mastermind.css') }}">
    <style>
        :root {
            --length: {
                    {
                    length
                }
            }

            ;

            --nbr-of-line: {
                    {
                    nbr_of_line
                }
            }

            ;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('main.index') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"
                        fill="currentColor">
                        <path
                            d="M19 21H5C4.44772 21 4 20.5523 4 20V11L1 11L11.3273 1.6115C11.7087 1.26475 12.2913 1.26475 12.6727 1.6115L23 11L20 11V20C20 20.5523 19.5523 21 19 21ZM6 19H18V9.15745L12 3.7029L6 9.15745V19Z">
                        </path>
                    </svg>
                </a>
            </li>
            <!-- <li>
                <a href="{{ url_for('main.game', mode='auto') }}">Auto mode</a>
            </li> -->
        </ul>

        <div class="logo">
            <strong> By Simon and Leandre</strong>
        </div>
    </nav>

    <div class="hero">
        <h1 onclick="resetGame()">Mastermind</h1>
    </div>

    <div class="main-content-container">
        <div class="choice">
            <h2>Create a new code that the player will need to guess: </h2>
            <h2> Choose a color and drag in the slot</h2>
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
            <ul>
                {% for color in colors_name %}
                <li class="color-option {{ color }}" data-color='{{color}}' draggable="true"
                    style="background-color: {{ color }};"></li>
                {% endfor %}
            </ul>
        </div>

        <div class="solution-container">
            <ul>
                {% for number in range(1, length + 1) %}
                <li class="slot" id="slot-{{ number }}"></li>
                {% endfor %}
            </ul>
        </div>

        <div id="container">
            <form method="POST">
                <input type="hidden" id="solution" name="solution">
                <button class="submit" type="submit" id="submit">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Submit</span>
                </button>
            </form>
        </div>
        
    </div>

    <script type="module"src="{{ url_for('static', filename='js/human_codemaker.js') }}"></script>
</body>

</html>